<div class="flex flex-row flex-wrap justify-center m-auto justify-items-center items-center w-[100vh]">
  @for (album of oPage.content; track album.id) {
  <div class="flex flex-col justify-center m-4 justify-items-center items-center">
    <div>
      <img src="{{ album.img | blobToUrl }}" width="200" height="200" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">{{ album.nombre }}</div>
    <div class="col-lg-4 col-md-6 col-sm-12 flex flex-row">
      @for (artista of nombresArtista.get(album.id); track $index) {
      <div>{{ artista.nombre }}/ </div>
      }
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">{{ album.genero }}</div>
    <div class="col-lg-4 col-md-6 col-sm-12 text-gray-900 px-2 py-1 rounded-md text-sm font-medium" 
    [class.low-grade]="getMedia(album.id) < 5"
    [class.medium-grade]="getMedia(album.id) >= 5 && getMedia(album.id) < 7"
    [class.high-grade]="getMedia(album.id) >= 7"
    > Nota: {{
      mediasArtista.get(album.id) }}</div>

  </div>
  }
</div>