<footer class="bg-gray-100 border-t border-gray-300 py-4">
  <div class="container mx-auto flex flex-col sm:flex-row items-center justify-between px-4">

    <!-- Redes sociales -->
    <div class="flex space-x-4 mb-2 sm:mb-0">
      <span class="text-gray-700 text-sm">
        Contáctanos a <a href="mailto:musicmyservice@gmail.com" class="text-blue-600 hover:underline">musicmyservice&#64;gmail.com
        </a>
      </span>
    </div>

    <!-- Copyright -->
    <div class="text-sm text-gray-600 text-center sm:text-right">
      © 2025 <span class="font-bold text-gray-800">Music<span
          class="bg-[#f84525] text-white rounded-md px-1">My</span></span>. Todos los derechos reservados.
    </div>
  </div>
</footer>