<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-2">
        <i class="bi bi-plus-square"></i>
        Edición de Reseña
        <i class="bi bi-journal-text"></i>
      </h2>
      <form [formGroup]="oResenyaForm!" (ngSubmit)="onSubmit()" novalidate>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>id</mat-label>
            <input matInput formControlName="id" placeholder="Id" readonly />
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Nota</mat-label>
            <input matInput formControlName="nota" placeholder="Nota" />
            <mat-hint align="end">Del 0 a 10</mat-hint>
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <textarea matInput formControlName="descripcion" placeholder="Descripcion"></textarea>
            <mat-hint align="end">Max 255 caracteres</mat-hint>
            @if (oResenyaForm?.get('descripcion')?.hasError('maxlength')) {
            <mat-error>Maximo 255 caracteres</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Website</mat-label>
            <input matInput formControlName="website" placeholder="Website" />
            <mat-hint align="end">De 0 a 255 caracteres</mat-hint>
          </mat-form-field>
        </div>


        <div formGroupName="album">
          <div class="row mt-4">
            <mat-form-field>
              <mat-label>Album</mat-label>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary" type="button" (click)="showAlbumSelectorModal()">
                  <i class="bi bi-search"></i>
                  Buscar
                </button>
              </div>
              <div class="d-flex justify-content-start">
                <span>{{oResenya!.album.nombre}}</span>
              </div>

              <input matInput formControlName="id" placeholder="Album" />
            </mat-form-field>
          </div>
        </div>
        <br />

        <div formGroupName="usuario">
          <div class="row mt-4">
            <mat-form-field>
              <mat-label>Usuario</mat-label>
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary" type="button" (click)="showUsuarioSelectorModal()">
                  <i class="bi bi-search"></i>
                  Buscar
                </button>
              </div>
              <div class="d-flex justify-content-start">
                <span>{{oResenya!.usuario.nombre}}</span>
              </div>

              <input matInput formControlName="id" placeholder="Usuario" />
            </mat-form-field>
          </div>
        </div>
        <br />






        <div class="mt-4">
          <button class="btn btn-warning mt-4 mx-1" [routerLink]="['/admin', 'resenya', 'plist']">
            <i class="bi bi-list"></i>
            Ir a listado de resenya
          </button>

          <button class="btn btn-secondary mt-4 mx-1" (click)="onReset()">
            <i class="bi bi-x-lg"></i>
            Reset
          </button>

          <button class="btn btn-primary mt-4 mx-1" type="submit" [disabled]="!oResenyaForm?.valid">
            <i class="bi bi-save"></i>
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" [id]="'mimodal'" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MusicMy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="hideModal()"></button>
      </div>
      <div class="modal-body">
        <p>{{ strMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="hideModal()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>