<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-2">
        <i class="bi bi-plus-square"></i>
        Edición de Album
        <i class="bi bi-journal-text"></i>
      </h2>
      <form [formGroup]="oAlbumForm!" (ngSubmit)="onSubmit()" novalidate>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" placeholder="Id" readonly/>
          </mat-form-field>
        </div>
        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Nombre" />
            <mat-hint align="end">De 5 a 255 caracteres</mat-hint>
            @if (oAlbumForm?.get('nombre')?.hasError('required')) {
            <mat-error>Debes introducir un nombre</mat-error>
            } @if (oAlbumForm?.get('nombre')?.hasError('minlength')) {
            <mat-error>Debes introducir una nombre más largo</mat-error>
            } @if (oAlbumForm?.get('nombre')?.hasError('maxlength')) {
            <mat-error>Debes introducir una nombre más corto</mat-error>
            }
          </mat-form-field>
        </div>
        <br />
        <div class="row mb-4">
          <div class="col">
            <p-calendar
              formControlName="fecha"
              placeholder="Fecha"
              inputId="spanish"
              [showIcon]="true"
              [showTime]="false"
              [showSeconds]="false"
              [showButtonBar]="false"
            ></p-calendar>
            @if (oAlbumForm?.get('fecha')?.hasError('required')) {
            <mat-error>El campo fecha es obligatorio</mat-error>
            }
          </div>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Genero</mat-label>
            <input matInput formControlName="genero" placeholder="Genero" />
            <mat-hint align="end">De 0 a 255 caracteres</mat-hint>
            @if (oAlbumForm?.get('genero')?.hasError('required')) {
            <mat-error>Debes introducir un genero</mat-error>
            } @if (oAlbumForm?.get('genero')?.hasError('minlength')) {
            <mat-error>Debes introducir un genero más largo</mat-error>
            } @if (oAlbumForm?.get('genero')?.hasError('maxlength')) {
            <mat-error>Debes introducir un genero más corto</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <textarea
              matInput
              formControlName="descripcion"
              placeholder="Descripcion"
            ></textarea>
            <mat-hint align="end">De 0 a 255 caracteres</mat-hint>
            @if (oAlbumForm?.get('descripcion')?.hasError('minlength')) {
            <mat-error>Debes introducir una descripcion más larga</mat-error>
            } @if (oAlbumForm?.get('descripcion')?.hasError('maxlength')) {
            <mat-error>Debes introducir una descripcion más corta</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="row mt-4">
          <mat-form-field>
            <mat-label>Discografica</mat-label>
            <input
              matInput
              formControlName="discografica"
              placeholder="Discografica"
            />
            <mat-hint align="end">De 0 a 255 caracteres</mat-hint>
            @if (oAlbumForm?.get('discografica')?.hasError('required')) {
            <mat-error>Debes introducir una discografica</mat-error>
            } @if (oAlbumForm?.get('discografica')?.hasError('minlength')) {
            <mat-error>Debes introducir una discografica más larga</mat-error>
            } @if (oAlbumForm?.get('discografica')?.hasError('maxlength')) {
            <mat-error>Debes introducir una discografica más corta</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="flex items-center justify-center w-full">
          <label for="file-input" class="flex flex-col items-center justify-center w-full h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
            
              <img
              [src]="'http://localhost:8085/album/' + oAlbum.id + '/img'"
              width="200"
              height="200"
              class="w-8 h-8 mb-4"
                />            
              
              <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Haz clic para subir</span> o arrastra y suelta</p>
              <p class="text-xs text-gray-500">PNG, JPG, GIF</p>
            </div>
            <input id="file-input" (change)="onFileSelected($event)" type="file" class="hidden" />
          </label>
        </div>

        <div class="flex items-center justify-center w-full">
          <button class="btn btn-primary" (click)="showArtistaSelectorModal()">
            <i class="bi bi-search"></i>
            Buscar
          </button>
        </div>

        <div class="mt-4">
          <button
            class="btn btn-warning mt-4 mx-1"
            [routerLink]="['/admin', 'album', 'plist']"
          >
            <i class="bi bi-list"></i>
            Ir a listado de albumes
          </button>

          <button class="btn btn-secondary mt-4 mx-1" (click)="onReset()">
            <i class="bi bi-x-lg"></i>
            Reset
          </button>

          <button
            class="btn btn-primary mt-4 mx-1"
            type="submit"
            [disabled]="!oAlbumForm?.valid"
          >
            <i class="bi bi-floppy"></i> Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  [id]="'mimodal'"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contante</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="hideModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ strMessage }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="hideModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
