/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --low-grade-bg: #dc2626;
    --medium-grade-bg: #facc15;
    --high-grade-bg: #16a34a;
    --excellent-grade-bg: #9333ea;

    --low-grade-color: #dc2626;
    --medium-grade-color: #facc15;
    --high-grade-color: #16a34a;
    --excellent-grade-color: #9333ea;
}


a,a:hover,a:active,a:visited,a:link { text-decoration: none; color: inherit; }

html, body { height: 100%; font-size: 0.9rem;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.icon-10 { font-size: 10px; }
.icon-15 { font-size: 15px; }
.icon-20 { font-size: 20px; }
.icon-50 { font-size: 50px; }

.table tr th  { padding: 0.5rem 0.3rem; }
.table tr td { padding: 0 0.5rem; align-content: center;}
.table-totales tr th { padding: 0.8rem 2rem; border-width: 1px; border-color: #dee2e6; }
.table-totales tr td { padding: 0.8rem 2rem; align-content: center; border-width: 1px;border-color: #dee2e6; font-size: large; }



.navbar-nav .nav-link.active {
    color: #fff !important;
    background-color: #007bff;
}




.bg-low-grade {
    background-color: var(--low-grade-bg);
    color: white;
}

.bg-medium-grade {
    background-color: var(--medium-grade-bg);
}

.bg-high-grade {
    background-color: var(--high-grade-bg);
    color: white;
}

.bg-excellent-grade {
    background-color: var(--excellent-grade-bg);
    color: white;
}

.low-grade {
    color: var(--low-grade-color);
}

.medium-grade {
    color: var(--medium-grade-color);
}

.high-grade {
    color: var(--high-grade-color);
}

.excellent-grade {
    color: var(--excellent-grade-color);
}




.thermometer {
  @apply w-4 h-36 border-2 border-gray-300 rounded-full overflow-hidden relative;
}
.thermometer-fill {
  @apply w-full absolute bottom-0 transition-all duration-300;
}