<div class="row justify-content-center m-3">
  <div class="col-lg-7 col-md-10 col-sm-12">
    <h1 class="my-5 text-center">
      <i class="bi bi-card-list"></i>
      Detalle de Reseña
      <i class="bi bi-person-circle"></i>
    </h1>
    <br />
    <table class="table table-striped table-bordered my-5 text-center">
      <tbody>
        <tr class="text-center">
          <th scope="row" class="bg-danger text-white text-end pe-5">Id</th>
          <td class="text-start ps-5">{{ oResenya.id }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Nota
          </th>
          <td class="text-start ps-5">{{ oResenya.nota }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Descripcion
          </th>
          <td class="text-start ps-5">{{ oResenya.descripcion }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">Fecha</th>
          <td class="text-start ps-5">{{ oResenya.fecha }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Spotify
          </th>
          <td class="text-start ps-5">{{ oResenya.website }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">Album</th>
          <td class="text-start ps-5">
            {{ oResenya.album.nombre }} ({{ oResenya.album.id }})
          </td>
        </tr>

        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Usuario
          </th>
          <td class="text-start ps-5">
            {{ oResenya.usuario.nombre }}  ({{ oResenya.usuario.id }})
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <a class="btn btn-warning mt-4 mx-1" href="admin/resenya/plist">
      <i class="bi bi-list"></i>
      Ir a listado de Reseñas
    </a>
    <a
      class="btn btn-primary mt-4 mx-1"
      href="admin/resenya/edit/{{ oResenya.id }}"
    >
      <i class="bi bi-pencil"></i>
      Editar
    </a>
    <a
      class="btn btn-danger mt-4 mx-1"
      href="admin/resenya/delete/{{ oResenya.id }}"
    >
      <i class="bi bi-trash"></i>
      Borrar
    </a>
  </div>
</div>
